.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.home{
  cursor: pointer;

}

.home:hover{
  color: orange;
}

button:hover{
  color: orange;
}
